@mixin clearFix {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER
/* 
0 - 600 px:         mobile
600 - 900 px:       tablet portrait
900 - 1200 px:      tablet landscape
1200 - 1800 px:     desktop  --> Normal Style Applied
1800 + :            desktop large

$breakpoint argument choices:
    phone
    tab-port
    tab-land
    big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
	//600px
	@if $breakpoint == phone {
		@media only screen and (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		//900px
		@media only screen and (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tab-land {
		//1200px
		@media only screen and (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		//1800px
		@media only screen and (min-width: 112.5em) {
			@content;
		}
	}
}
