.navigation {
	&__checkbox {
		display: none;
	}

	&__button {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		border-radius: 50%;
		position: fixed;
		inset: 6rem 6rem auto auto;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
		text-align: center;
		cursor: pointer;

		@include respond(tab-port) {
			inset: 4rem 4rem auto auto;
		}

		@include respond(phone) {
			inset: 3rem 3rem auto auto;
		}
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		inset: 6.5rem 6.5rem auto auto;
		background-image: radial-gradient($color-primary-light, $color-primary-dark);
		z-index: 1000;
		transition: all 0.5s cubic-bezier(0.83, 0, 0.17, 1);

		@include respond(tab-port) {
			inset: 4.5rem 4.5rem auto auto;
		}

		@include respond(phone) {
			inset: 3.5rem 3.5rem auto auto;
		}
	}

	&__nav {
		height: 100vh;
		width: 0;
		position: fixed;
		inset: 0 0 auto auto;
		z-index: 1500;
		opacity: 0;
		transition: opacity 1s 0.25s;
	}

	&__list {
		position: absolute;
		inset: 50% 0 0 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		text-align: center;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited {
			display: inline-block;
			color: $color-dark-grey-3;
			text-decoration: none;
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
			background-size: 225%;
			transition: all 0.4s;

			span {
				margin-right: 1.5rem;
				display: inline-block;
			}
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-primary;
			transform: translateX(1rem);
		}
	}

	//FUNCTIONALITY
	&__checkbox:checked ~ &__background {
		transform: scale(80);
	}

	&__checkbox:checked ~ &__nav {
		opacity: 1;
		width: 100vw;
	}

	//ICON
	&__icon {
		position: relative;
		margin-top: 3.5rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 0.2rem;
			background-color: $color-dark-grey-3;
			display: inline-block;
			transition: all 0.2s;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
		}

		&::before {
			top: -0.8rem;
		}
		&::after {
			top: 0.8rem;
		}
	}

	&__button:hover &__icon:before {
		top: -1rem;
	}
	&__button:hover &__icon:after {
		top: 1rem;
	}

	&__checkbox:checked ~ &__button &__icon {
		background-color: transparent;

		&::before {
			transform: rotate(135deg);
			top: 0;
		}

		&::after {
			transform: rotate(-135deg);
			top: 0;
		}
	}
}
